* {
  box-sizing: border-box
}

.app {
  display:flex;
  justify-content: center;
  margin-top: 40px;
}

.table {
  width: 1200px;
  position:relative;
}

.row {
  display:flex;
}

.name {
  width:270px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
}

.days {
  display:flex;
}

.day {
  border: 1px solid black;
  width: 30px;
  height: 30px;
  font-weight: bold;
  display:flex;
  justify-content: center;
}

.big{
  width:50px;
  height: 50px;
  font-size:23px;
  background-color: white;
}

.edit{
  position:absolute;
  left:calc(50% - 775px);
  top:30%;
  display:flex;
  flex-direction: column;
  align-items:center;
}

.weekend {
  background-color: lightsalmon;
}