* {
  box-sizing: border-box
}

.app {
  display:flex;
  justify-content: center;
  margin-top: 40px;
}

.table {
  width: 1200px;
}

.row {
  display:flex;
}

.name {
  width:270px;
  border: 1px solid black;
}

.days {
  display:flex;
}

.day {
  border: 1px solid black;
  width: 30px;
  height: 30px;
  font-weight: bold;
  display:flex;
  justify-content: center;
}